/**
https://coolors.co/ef3059-8ec86c-8cd5f0-fef5ef-544343
 */

:root {
    --lbprimary: #8CD5F0;
    --lbsecondary: #544343;
    --lbthirdary: #Ef3059;
    --lbfouthary: #8EC86C;
    --lbfithary: #FEF5EF;
}

main > .container {
    padding: 60px 15px 0;
}

.name-card-top {
    margin-top: 30%;
}

* {
    font-family: 'Roboto', sans-serif;
}

.friendly-btn {
    font-family: 'Patrick Hand', cursive;
}




/* MENU FullScreen MENU CSS https://codepen.io/KingKabir/pen/QyPwgG - modified */

.button_container {
    position: fixed;
    top: 5%;
    left: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 10000;
    transition: opacity 0.25s ease;
}
.button_container:hover {
    opacity: 0.7;
}
.button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #fff;
}
.button_container.active .middle {
    opacity: 0;
    background: #fff;
}
.button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #fff;
}
.button_container span {
    background: var(--lbsecondary);
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
}
.button_container span:nth-of-type(2) {
    top: 11px;
}
.button_container span:nth-of-type(3) {
    top: 22px;
}
.overlay {
    position: fixed;
    background: var(--lbprimary);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 9999;
    visibility: hidden;
    transition: visibility 0.35s, height 0.35s;
    overflow: hidden;
}
.overlay.open {
    visibility: visible;
    height: 100%;
}
.overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
}
.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}
.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}
.overlay ul li a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #fff;
    transition: 0.35s;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
/* END MENU */

.menu-card {
    /*max-width: 85%;*/
}

.lblogo {
   height: 6rem;
}

/**
The CSS below is sourced from Codepen at: https://codepen.io/devilskitchen/pen/jkdgK
We have modified it to be used to present the different pants in each category

it's inspired by Apple's Itunes cover flow
 */
.main-container {
    background:#212121;
    margin: 4em auto 0 auto;
    width: 650px;
}
.main-container .controls {
    margin: 0 auto;
    padding: 2em 0 0 0;
    text-align: center;
}
.coverflow-container {
    box-reflect: below 0px -webkit-linear-gradient(top,rgba(0,0,0,0) 60%,rgba(0,0,0,0.1) 100%);
}

label {
    color: #999;
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    background: #252525;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
}
label:hover {
    color: #FFF;
}
.coverflow-list {
    width: 100%;
}
.coverflow-list .coverflow-item {
    display: inline-block;
    background: #414141;
    margin: 0 -50px;
    position: relative;
    box-shadow: 0 1px 8px rgba(0,0,0,0.9);
}
.coverflow-list .coverflow-item .album-cover {
    display: block;
    height: 150px;
    margin: 0;
}
.coverflow-list .coverflow-item .album-cover img {
    height: 150px;
    width: 150px;
    opacity: 0.5;
}
.coverflow-list .coverflow-item .album-name {
    text-align: center;
    display: block;
    color: #444;
}
.coverflow-list .coverflow-item label {
    padding: 0;
    border: none;
    display: block;
    text-shadow: none;
}
.coverflow-list {
    -webkit-transform: perspective(900px);
    -webkit-transform-style: preserve-3d;
    -webkit-perspective-origin: 100% 30%;
}
.coverflow-list .coverflow-item {
    -webkit-transition: all ease;
    background: #212121;
    -webkit-transform: rotateY(45deg);
}
input[type="radio"][name="coverflow-item"]  {
    display: none;
}
input[type="radio"]:checked + .coverflow-item {
    -webkit-transform: rotateY(0deg);
    margin: 0 auto;
    background: #313131;
    transition: all ease;
}
input[type="radio"]:checked + .coverflow-item img {
    opacity: 1;
}
input[type="radio"]:checked + .coverflow-item figcaption {
    color: #FFFFFF;
}
input[type="radio"]:checked + .coverflow-item ~ .coverflow-item {
    -webkit-transform: rotateY(-45deg);
    background: #515151;
}

/* End Cover Flow CSS */


/**
 Adapted from CodePen: https://codepen.io/cholnhial/pen/wvepZzp

 Used as styling in JVectorMap used to display the locations which the plants occur
 */
.jvectormap-container {
    background: var(--lbfithary) !important;
    height: 448px !important;
}

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 2px;
    color: white;
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}

#map{
    width: 100%;
}

/* END JVectorMap Styling */